section {
    display: none;
}

aside {
    display: inline-block;
    z-index: 99!important;
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

.video-main-container {
    height: 100%;
    background-color: white;
    word-wrap: break-word;
    padding: 10px;
    overflow: hidden;
    border-radius: 5px;
}

.expandable-vid {
    cursor: pointer;
}

.video-title-lg {
    font-size: 18px;
    font-weight: 600;
    line-height: 160%;
}

.video-title {
    font-size: 16px;
    font-weight: 600;
    line-height: 150%;
    padding-right: 1%;
}

.video-date-visible {
    font-size: 14px;
    font-weight: 200;
    padding-right: .5%;
}

.video-name {
    font-size: 14px;
    font-weight: 200;
    padding-left: .3%;
}

.iframe-sm {
    width: 80%;
    height: 80%;
}

iframe {
    border-radius: 5px;
}