{% extends "../admin_pages_base.html" %}

{% block content %}

<div class="d-flex justify-content-center" style="padding: 1%;">
	<a href="{% url 'admin_pages:admin_index' %}">
		<button class="btn btn-outline-warning">&#60; Back to Menu</button>
	</a>
</div>

<div class="form-container">
	<div class="text-center title-container"><h2>Manage Home Page</h2></div>

	<form method='post' enctype='multipart/form-data'>
		{% csrf_token %}
		{{ form.as_p }}
		<div class="form-btn-container">
			<span class="space-left">
				<button class="btn btn-primary" type="submit">
					Save
				</button>
			</span>
			<span class="space-left">
				<!--Using JS history.back() here because a href back to admin_index created a loop for some reason-->
				<button class="btn btn-danger" onclick="javascript:history.back();">
					Cancel
				</button>
			</span>
		</div>
	</form>
</div>
<br>

{% endblock content %}