{% extends "../../admin_pages_base.html" %}

{% block content %}

<div class="form-container">
	<div class="text-center title-container"><h2>Edit Speaker</h2></div>

	<form action="{% url 'admin_pages:edit_speaker' speaker.id %}" method='post'>
		{% csrf_token %}
		{{ form.as_p }}
		<div class="form-btn-container">
			<span class="space-left-sm">
				<button class="btn btn-primary" type="submit">
					Save
				</button>
			</span>
			<span class="space-left">
				<button class="btn btn-danger" onclick="javascript:history.back();">
					Cancel
				</button>
			</span>
		</div>
	</form>
</div>
<br>

{% endblock content %}